body {
    background-color: #f7f7f7;
    font-family: "montserrat";
}


.my-container{
    padding: 2em 1em 0em 1em;
}

@media screen and (min-width: 30rem) {
    .my-container{
        padding: 2em 15em 0em 15em;
    }
}


.my-flex {
    display: flex;
    flex-direction: column;
}

.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bg-gray-1 {
    background-color: #f2f2f2;
}

.bg-gold {
    background-color: #b18742;
}

.bg-black-1 {
    background: #333738;
}

.bg-purple-1 {
    background: #635b6c;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }

.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}